@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

@import 'tailwindcss/utilities';
<<<<<<< HEAD

.card-img{
    background-image: url(../assets/main.png);
    background-size: 100% 100%;
    width: 270px;
    height: 330px;
    border-radius: 10px;
}
.card-name {
   font-weight: 600;
    font-size: 24px;
}
.card-text{
    font-size: 14px;
    position: relative;
}

.card-text::after{
    content: "";
    background:#D9D9D9;
    width:450px;
    height: 1px;
    display: block;
    position: absolute;
    left: 100%;
    margin-left: 5px;
    top: 50%;
  }
=======
.card-text{
    position: absolute;
    bottom: 20px;
    left:5px;
    color:#fff;
}
.main-cards{
    position: relative;
}
.ctm-img{
    height:100%;
    opacity: 0.8;

}
.nav-search{
    border-radius: 30px;
    background-color: #eeeeee;
    padding: 6px 0px 7px 40px;
    border: 1px solid #ccc;

}
.nav-search input:focus{
    border-radius: 30px;
    background-color: #eeeeee;
    padding: 6px 0px 7px 40px;
    border: 1px solid #ccc;

}
.nav-bar h2{
    font-size: 24px;
    font-weight: 600;
    text-align:center;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:10px;
    
}
.nav-bar p{
    font-size: 14px;
    font-weight: 500;
    color: #5A5A5A;
    padding-top:7px;
    
}
.nave-search-img{

}
>>>>>>> b71d108f6838e0f85bfad9d5aa3fddd4da09e6eb
