@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .card-text::after{
    content: "";
    background:#D9D9D9;
    width:0px;
    height: 1px;
    display: block;
    position: absolute;
    left: 100%;
    margin-left: 5px;
    top: 50%;
  } */
/* .card-text{
    position: absolute;
    bottom: 20px;
    left:5px;
    color:#fff;
} */
/* .main-cards{
    position: relative;
} */
html,
body {
  overflow-x: hidden;
}/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
.ctm-img{
    height:100%;
    opacity: 0.8;
    width:100% !important;

}
.cards{
    width: 170px !important;
    height: 330px !important;
}
.nav-search{
    border-radius: 30px;
    background-color: #eeeeee;
    padding: 6px 0px 7px 40px;
    border: 1px solid #ccc;

}
.nav-search input:focus{
    border-radius: 30px;
    background-color: #eeeeee;
    padding: 6px 0px 7px 40px;
    border: 1px solid #ccc;

}
.nav-bar h2{
    font-size: 24px;
    font-weight: 600;
    text-align:center;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:16px;
    width:100%;
    
}
.nav-bar p{
    font-size: 14px;
    font-weight: 500;
    color: #5A5A5A;
    padding-top:9px;
    
}

#email4{
    width:300px;
    border-radius:30px;
}

@media only screen and (max-width: 600px) {
    .nav-bar{
        display: block;
        justify-content: space-between;
        padding:10px;
        text-align :center;
        
    }
    /* .card-main{
    text-align:center;
    }
    .card-text {
        position: absolute;
        bottom: 20px;
        left: px;
        color: #fff;
    } */
    #email4{
        width:100%;
    }
  }